
@{
    ViewData["Title"] = "Products";
}

@model IEnumerable<Product>

<h3>Products</h3>


<div>
    <a asp-action="Create" class="btn btn-info">Create</a>
</div>
<div class="m-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
           @foreach(Product item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                </tr>
            }
        </tbody>
    </table>
</div>
