@model IEnumerable<City>

<div>
    <table class="table table-sm table-bordered">
        @foreach(var item in @Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Country</td>
                <td>@item.Population.ToString("#,###")</td>
            </tr>
        }
    </table>
</div>
<div>
    <a asp-action="Create" asp-controller="City" class="btn">Create city</a>
</div>

